pillow
aiofiles
aiohttp
aioshutil
anytree
apscheduler
argparse
aria2p
beautifulsoup4
cloudscraper
configparser
cryptography
python-dotenv
feedparser
flask
google-api-python-client
google-auth-oauthlib
IMDbPY
langcodes
lxml
python-magic
markdown
mega.py
motor
natsort
progress
psutil
pycountry
pymongo
pyrogram
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tzlocal
urllib3
uvloop
yt-dlp
